sender: "root@hostname"
recipient: "you@example.dev"
mailserver: "mail.mailhost.com"
email: "you@mailhost.com"
mailpass: "ma1lh0stpassw0rd"
port: "587" # or 25, depending on mailhost config
ssid: "Network Name"
wifi_password: "n3tw0rkpa$$w0rd!"
log_file: "/path/to/logfile"
