sender: "root@hostname"
recipient: "you@example.dev"
mailserver: "mail.host.com"
email: "you@host.com"
mailpass: "passwordforhost"
port: "587 / 25, depending on host config"
ssid: "Network Name"
wifi_password: "n3tw0rkpa$$w0rd!"
log_file: "/path/to/logfile"
